<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>
        {% block title %} Document Base {% endblock %}
    </title>
</head>
<body>
  <div class='container' style="margin-bottom: 4em;">
        <div id="navigation-bar">
          <nav>
            <ul>
              <li><a href='/index/' id="logo">Index</a></li>
              <li><a href='/person_create/'>Create</a></li>
              <li><a href='/person_list/'>List</a></li>
              <li><a href=#>About</a></li>
              <li><a href=#>Portfolio</a></li>
              <li><a href=#>Services</a></li>
              <li><a href=#>Contact</a></li>
              <a href="#" id="menu-icon"></a>
            </ul>
          </nav>
        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>